# SADEKH DIGITAL ET GRAPHIQUE - Configuration

# Firebase Configuration
# These will be populated after calling set_up_firebase
VITE_FIREBASE_API_KEY=AIzaSyA-AKIpAy-GhxLRth8OhdU_Ep0iAJqQ8jw
VITE_FIREBASE_AUTH_DOMAIN=sadekh-graphic.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=sadekh-graphic
VITE_FIREBASE_STORAGE_BUCKET=sadekh-graphic.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=856492355342
VITE_FIREBASE_APP_ID=1:856492355342:web:ce7c11b979b0c15cc6715f
measurementId:=G-DSZ7WZKTS1
# WhatsApp Number
VITE_WHATSAPP_NUMBER=221772511814
